{% extends "templates.html" %}
{% load chunks %}
{% load i18n %}

{% block json %}
    var view_model = {{ view_model|safe }};
{% endblock %}

{% block toolbar %}
    <div id="announcements"><span></span> {% chunk "announcement" %}</div>
    <div class="left section">
        <div class="toolbar">
            <div data-bind='jqueryui: "buttonset"'>
                <button id="run_button" data-bind='jqueryui: { widget: "button", options: {
                icons: {
                    primary: "ui-icon-play"
                },
                disabled: busy()
                } }, click: function() { engine.execute() }'>
                    {% trans "Run" %}
                </button>
                <button data-bind='jqueryui: { widget: "button", options: {
                icons: {
                    primary: "ui-icon-arrowrefresh-1-e"
                },
                disabled: busy()
            } }, click: function() { engine.reset() }'>
                    {% trans "Reset" %}
                </button>
            </div>
            <div class="container" data-bind='jqueryui: "buttonset"'>
                <button data-bind='jqueryui: { widget: "button", options: {
                icons: {
                    primary: "ui-icon-triangle-1-s"
                }
            } }, click: function() { $("#shareMenu").toggle("blind") }'>
                    {% trans "Share" %}
                </button>
                <button data-bind='jqueryui: { widget: "button", options: {
                icons: {
                    primary: "ui-icon-folder-open"
                },
                disabled: !newFiddle()
            } }, click: function() { $("#importDialog").dialog("open") }'>
                    {% trans "Import" %}
                </button>

                <div id="shareMenu" class="ui-widget-content ui-corner-all">
                    <span id="share_this"></span>
                    <div class="marginTop" style="display:block"></div>
                    <div>
                        <span>{% trans "Link" %}</span>
                        <span id="copyButton" class="right ui-icon ui-icon-clipboard"></span>
                    </div>
                    <input data-bind="value: snippetUrl" />
                    <span>{% trans "Embed" %}</span>
                    <input data-bind="value: embedUrl, disable: newFiddle"/>
                </div>

            </div>
            <button data-bind='jqueryui: { widget: "button", options: {
            icons: {
                primary: authenticated() ? "ui-icon-unlocked" : "ui-icon-locked"
            },
            label: authenticated() ? "{% trans "Dashboard" %}" : "{% trans "Login" %}"
        } }, click: function() { authenticated() ? window.open("/dashboard/") : popup("/login/") }'>
            </button>
            <div id="languages">
                <ul>
                    <li><a href="#">{% trans "Language" %}&#9660;</a>
                    <ul>
                        <li>
                            <form name="setLangEnglish" action="/i18n/setlang/" method="POST">{% csrf_token %}
                                <input name="next" type="hidden" value="/"/>
                                <input type="hidden" name="language" value="en"/>
                                <a href="#" onclick="document.setLangEnglish.submit();return false;">English</a>
                            </form>
                        </li>
                        <li>
                            <form name="setLangChinese" action="/i18n/setlang/" method="POST">{% csrf_token %}
                                <input name="next" type="hidden" value="/"/>
                                <input type="hidden" name="language" value="zh"/>
                                <a href="#"
                                   onclick="document.setLangChinese.submit();return false;">中文</a>
                            </form>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <h2 class="title" data-bind="text:title"></h2>
    </div>

    <div id="logo" class="right section">
        {% if not embedded %}
            <img alt="Python Cloud" src="{% media_url '/images/Python_Fiddler.png' %}"/>
            <h1>Python Fiddle</h1>
            <h3>Python Cloud IDE</h3>
        {% endif %}
        <div id="plusone"><g:plusone ></g:plusone></div>
    </div>
{% endblock %}

{% block center_panel %}
{% endblock %}

{% block details_panel %}
    <div class="details" data-bind='template: { name: "formTemplate" }'></div>
    <!-- ko template: "revisionsTemplate" -->
    <!-- /ko -->
{% endblock %}

{% block accordion_panel %}
    <div id="accordion" data-bind="template: { name: accordionTemplate }"></div>
    <div class="marginTop" id="accordion-bottom"><a href="http://twitter.com/python_fiddle" class="twitter-follow-button" data-show-count="false">Follow @python_fiddle</a></div>
{% endblock %}

{% block dialogs %}
    <div id="browserDialog" style="display: none">
        <div id="fallback-header">Browser Version Not Supported</div>
        <div id="fallback-content">
            Due to Python Fiddle's reliance on advanced JavaScript techniques, older browsers might have problems running it
            correctly. Please download the latest version of your favourite browser.
            <br/>
            <a href="http://www.google.com/chrome" id="browser-chrome">Chrome 10+</a>
            <a href="http://www.mozilla.org/firefox/" id="browser-firefox">Firefox 4+</a>
            <a href="http://www.apple.com/safari/download/" id="browser-safari">Safari 5+</a>
            <br/>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie" id="browser-ie">IE 10+</a>

            <div id="fallback-ignore">Let me try anyway!</div>
        </div>
    </div>


    <div id="importDialog" class="container" title="Import from external resources" data-bind='jqueryui: { widget: "dialog", options: {
        minWidth: 500,
        autoOpen: false
    } }'>
        <label for="importurl">url:</label>
        <input id="importurl" data-bind="value: importUrl" class="text ui-widget-content ui-corner-all" />
        <button data-bind='jqueryui: { widget: "button", options: {
        icons: {
            primary: "ui-icon-triangle-1-e"
        }
    } }, click: function() { viewModel.importExternal() }'>
            {% trans "Go" %}
        </button>
        <div class="bottom" data-bind='jqueryui: "buttonset"'>
            <input type="radio" name="importOption" id="pythonsnippet" value="pythonsnippet" checked="checked" data-bind="checked: importOption" /><label for="pythonsnippet">Python {% trans "Snippet" %}</label>
            <input type="radio" name="importOption" id="stackoverflow" value="stackoverflow" data-bind="checked: importOption" /><label for="stackoverflow">Stackoverflow {% trans "Question" %}</label>
        </div>
    </div>

{% endblock %}