{% extends "base.html" %}
{% load static %}

{% block title %}{% if snippet.title %}{{ snippet.title }}{% else %}{{ default_meta.title }}{% endif %} | Python Fiddle{% endblock %}
{% block description %}{% if snippet.description %}{{ snippet.description }}{% else %}{{ default_meta.description }}{% endif %}{% endblock %}
{% block keywords %}{% if snippet.get_tagstring %}{{ snippet.get_tagstring }}{% else %}{{ default_meta.keywords }}{% endif %}{% endblock %}

{% block body_tag %}class='ui-widget'{% endblock %}

{% block content %}
<div class="ui-layout-center">
    <textarea id='editor' autofocus='autofocus'>{{ snippet.code }}</textarea>
    {% block center_panel %}{% endblock %}
</div>
<div class="ui-layout-north clearfix">{% block toolbar %}{% endblock %}</div>
<div class="ui-layout-south">
    <div id="console" data-bind="html: consoleOutput"></div>
</div>
<div class="ui-layout-east">
    {% block details_panel %}{% endblock %}
</div>
<div class="ui-layout-west">
    {% block accordion_panel %}{% endblock %}
</div>
{% block dialogs %}{% endblock %}
{% block tmpl %}{% endblock %}
{% endblock %}

{% block resources %}
    <link rel="stylesheet" href="{% static 'css/styles.python.css' %}">
    <script type="text/javascript">
        var base_url="{% get_static_prefix %}";
        var ajax_url="{% if DEBUG %}http://localhost/static{% else %}http://pythonfiddle.com/home{% endif %}";
        var lib_url="http://pythonfiddle.com/lib/python2.7";
        var debug = {% if DEBUG %}true{% else %}false{% endif %};
        var embedded = {% if embedded %}true{% else %}false{% endif %};
        {% if ownerId %}var ownerId = '{{ ownerId }}'{% endif %};
        {% block json %}{% endblock %}
    </script>
{% endblock %}
