;{% extends "layout.html" %}
{% load i18n %}

{% block tmpl %}
{% load chunks %}

{% include "fiddle/templates.html"%}

<script id="exampleTemplate" type="text/html">
    <a href="#" data-bind="click: $parent.selectExample, text: title"></a>
</script>

<script id="packageTemplate" type="text/html">
    <li class="clickable" data-bind="text:name, attr: { title: description }, click: function() { window.open($data.link) }"></li>
</script>

<script id="pythonAccordion" type="text/html">
    <h3><a href="#">{% trans "Examples" %}</a></h3>
    <div>
        <div data-bind="template: { name: 'exampleTemplate', foreach: examples }"></div>
    </div>
    <h3><a href="#">{% trans "Packages" %}</a></h3>
    <div id="packages">
        <ul data-bind="template: { name: 'packageTemplate', foreach: packages }"></ul>
    </div>
    <h3><a href="#">{% trans "Hotkeys" %}</a></h3>
    <div class="hotkeys">
        <span class="kbd">Ctrl</span>+<span class="kbd">&crarr;</span><span>{% trans "run" %}</span>
        <span class="kbd">Ctrl</span>+<span class="kbd">R</span><span>{% trans "reset" %}</span>
        <span class="kbd">Ctrl</span>+<span class="kbd">O</span><span>{% trans "import" %}</span>
        <span class="kbd">Ctrl</span>+<span class="kbd">F</span><span>{% trans "find" %}</span>
        <span class="kbd">Ctrl</span>+<span class="kbd">G</span><span>{% trans "findNext" %}</span>
        <span class="kbd">Shift</span>+<span class="kbd">Ctrl</span>+<span class="kbd">G</span><span>{% trans "findPrev" %}</span>
        <span class="kbd">Shift</span>+<span class="kbd">Ctrl</span>+<span class="kbd">F</span><span>{% trans "replace" %}</span>
        <span class="kbd">Shift</span>+<span class="kbd">Ctrl</span>+<span class="kbd">R</span><span>{% trans "replaceAll" %}</span>

    </div>
    <h3><a href="#">{% trans "Featured" %}</a></h3>
    <div>
        {% chunk "featured_fiddles" %}
    </div>
    <h3><a href="#">{% trans "Pages" %}</a></h3>
    <div>
        {% load flatpages %}
        {% get_flatpages as flatpages %}
        {% for page in flatpages %}
            <p><a class="link" href="{{ page.url }}">{{ page.title }}</a></p>
        {% endfor %}
        <p><a class="link" href="{% url fiddle_snippet_list %}">{% trans "All Fiddles" %}</a></p>
        <p><a class="link" href="http://python.net/~goodger/projects/pycon/2007/idiomatic/handout.html">Python Idioms</a></p>
        <p><a class="link" href="http://docs.python.org/tutorial/">The Python Tutorial</a></p>
    </div>
</script>
{% endblock %}